openapi: 3.1.0
info:
  title: J.B. Hunt 360 Connect Documents Orders API
  description: The J.B. Hunt 360 Connect API provides programmatic access to quoting, order management, shipment tracking, document management, and scheduling on the J.B. Hunt 360 logistics platform. Supports full-truckload (FTL) and less-than-truckload (LTL) shipment operations.
  version: 1.0.0
  contact:
    name: J.B. Hunt Developer Support
    url: https://developer.jbhunt.com/connect-360
  license:
    name: Proprietary
    url: https://www.jbhunt.com/
servers:
- url: https://api.jbhunt.com
  description: Production
tags:
- name: Orders
  description: Create, search, and manage transportation orders.
paths:
  /orders:
    post:
      operationId: createOrder
      summary: Create Order
      description: Create a new transportation order on the J.B. Hunt 360 platform.
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quoteId:
                  type: string
                origin:
                  type: object
                  properties:
                    address:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    postalCode:
                      type: string
                destination:
                  type: object
                  properties:
                    address:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    postalCode:
                      type: string
                pickupDate:
                  type: string
                  format: date
                deliveryDate:
                  type: string
                  format: date
      responses:
        '201':
          description: Order created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  status:
                    type: string
        '401':
          description: Unauthorized.
    get:
      operationId: searchOrders
      summary: Search Orders
      description: Search and retrieve orders on the J.B. Hunt 360 platform.
      tags:
      - Orders
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Orders returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        orderId:
                          type: string
                        status:
                          type: string
                        origin:
                          type: string
                        destination:
                          type: string
        '401':
          description: Unauthorized.
  /orders/{orderId}:
    get:
      operationId: getOrder
      summary: Get Order Details
      description: Retrieve details for a specific order.
      tags:
      - Orders
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order details returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  status:
                    type: string
                  origin:
                    type: object
                  destination:
                    type: object
                  pickupDate:
                    type: string
                    format: date
                  deliveryDate:
                    type: string
                    format: date
        '404':
          description: Order not found.
